@media only screen and (max-width : 600px){
    .list-group-item{
        text-align: center !important;
        font-size: large;
    }
    .alert-success{
        width: 100%;
        left: 0;
        
        
    }

    body{
        max-width: 600px !important;
    }


}